/* styles.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.temp-mobile-only-deploy {
  margin: auto;
}

.float-phone {
  min-height: 24px;
  min-width: 24px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #7a95b6;
  color: white;
  padding: 10px 16px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
}

.hero-phone {
  color: inherit;
}
header {
  text-align: center;
}

.logo-menu {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #95b67a;
}
.nanum {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}

.istok {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.about-title {
  font-size: 36px;
  margin-bottom: 24px;
}
.about {
  text-align: left;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.about-2 {
  margin-top: 16px;
}

.logo-menu .top {
  color: #49366e;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin-right: 32px;
}
.logo-menu img {
  height: 70px;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
}

.hero-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 130px;
  background-color: #7a95b6;
}
.hero-text {
  height: 100%;
  color: white;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.hero-text h1 {
  margin: 0;
  font-size: 2em;
}

.hero-text p {
  margin: 0;
  font-size: 1.2em;
}

.service-area {
  background: linear-gradient(to bottom, #95b67a, white);
}

.flags {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.flags img {
  width: 40%;
}

.bottom img {
  margin: auto;
}
.bottom {
  margin-top: 120px;
}
.about,
.service-area,
.services,
.contact {
  margin-top: 120px;
  padding: 20px;
  text-align: left;
}

.about h2,
.service-area h2,
.contact h2 {
  color: #4c6d4d;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (width > 800px) {
    gap: 40px;
  }
}
.services-title {
  font-size: 32px;
  text-align: center;
  color: black;
}
.service-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1245px;
}

.service {
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 400px;
  min-width: 320px;
}
.service-title {
  margin-top: 16px;
}
.service-blurb {
  padding: 24px;
}
.service-action {
  text-align: center;
  margin-top: 32px;
  font-size: 32px;
}

.service img {
  width: 100%;
  height: auto;
  max-height: 285px;
  border-radius: 10px 10px 0 0;
}

.footer-container {
  color: #49366e;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

footer {
  background-color: #91c48c;
  padding: 10px;
  text-align: center;
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 50px;
}
.hero-image img {
  height: auto;
  object-fit: cover;
  width: 100%;
  background-color: #7a95b6;
  @media (width > 800px) {
    width: 50%;
  }
}
.hero-side-by-side {
  display: flex;
  height: 100%;
  max-height: 396px;
}
.left-hero {
}
.right-hero {
  display: none;
  @media (width > 800px) {
    display: block;
  }
}
.bottom-hero {
  @media (width > 800px) {
    display: none;
  }
}

.fade-in-1 {
  opacity: 0;
  transform: scale(0.8) translateY(20px);
  animation: fadeInHeader 2s ease-in-out 1s forwards;
}

.fade-in-2 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInParagraph 2s ease-in-out 2s forwards;
}

/* Keyframes for the header */
@keyframes fadeInHeader {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* Keyframes for the paragraph */
@keyframes fadeInParagraph {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  margin: 16px;
  background-color: #95b67a;
}

.form-container h2 {
  margin-bottom: 20px;
  color: white;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
}

input,
textarea {
  color: #333;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: #333;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

input[type="submit"] {
  padding: 12px 20px;
  background-color: #41688f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
}

input[type="submit"]:hover {
  background-color: #005bb5;
}
